In [1]:
#Q1.Set the variable test1 to the string 'This is a test of the emergency text system' and save test1 to a file named test.txt.

test1 = 'This is a test of the emergency text system'
outfile = open('test.txt', 'wt')

outfile.write(test1)
outfile.close()

In [2]:
#Q2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
#r=file.read('test.txt','r')
#test2=r.read()

with open('test.txt', 'rt') as infile:
    test2 = infile.read()

In [3]:
test1 == test2

True

In [4]:
#Q3.Create a CSV file called books.csv by using these lines:
#title,author,year
#The Weirdstone of Brisingamen,Alan Garner,1960
#Perdido Street Station,China Miéville,2000
#Thud!,Terry Pratchett,2005
#The Spellman Files,Lisa Lutz,2007
#Small Gods,Terry Pratchett,1992

text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [9]:
with open('books2.csv', 'wt') as outfile:
    outfile.write(text)

In [10]:
#Q4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: 
#title (text), author (text), and year (integer).

import sqlite3
db=sqlite3.connect('books2.db')
curs=db.cursor()
curs.execute('''create table books(title text, authour text, year int)''')
db.commit()

In [18]:
#Q5.Read books.csv and insert its data into the book table.
import csv
import sqlite3

ins_str = 'insert into books2 values(?, ?, ?)'

In [25]:
with open('books2.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (books['title'], books['author'], books['year']))

In [28]:
#Q6.Select and print the title column from the book table in alphabetical order.
sql = 'select title from books order by title asc'

In [29]:
for row in db.execute(sql):
    print(row)

In [30]:
for row in db.execute(sql):
    print(row[0])

In [32]:
#Q7.From the book table, select and print all columns in the order of publication
for row in db.execute('select * from books order by year'):
    print(row)

In [33]:
for row in db.execute('select * from books order by year'):
    print(*row, sep=', ')

In [34]:
#Q8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

import sqlalchemy

In [35]:
conn = sqlalchemy.create_engine('sqlite:///books2.db')

In [36]:
sql = 'select title from books order by title asc'

In [37]:
rows = conn.execute(sql)

In [38]:
for row in rows:
     print(row)

In [39]:
#Q9.Install the Redis server and the Python redis library (pip install redis) on your computer. 
#Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.


!pip install redis

Collecting redis
  Downloading redis-3.5.3-py2.py3-none-any.whl (72 kB)
Installing collected packages: redis
Successfully installed redis-3.5.3

In [40]:
import redis conn = redis.Redis() conn.delete('test') 1 conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'}) True conn.hgetall('test') {b'name': b'Fester Bestertester', b'count': b'1'}

SyntaxError: invalid syntax (<ipython-input-40-8a8c1806f905>, line 1)

In [41]:
#Q10.Increment the count field of test and print it.
conn.hincrby('test', 'count', 3) 4 conn.hget('test', 'count') b'4'

SyntaxError: invalid syntax (<ipython-input-41-6359b6943887>, line 2)